 {{#each model.rows as |row|}}
<tr>
  <td>
    {{row.dbId}}
  </td>
  {{#each model.table.columns as |column|}}
  <td>
    {{row-value-editor row=row column=column}}
  </td>
  {{/each}}
  <td>
    {{#bs-button onClick=(action "deleteRow" row.id) type="danger"}} Delete {{/bs-button}}
  </td>
</tr>
{{/each}}
<tr>
  <td>
    {{#bs-button type="primary" onClick=(action "addRow")}} Add row {{/bs-button}}
  </td>
  <td colspan={{plus-one model.table.columns.length}}></td>
</tr>

{{infinity-loader infinityModel=model.rows}}
